<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/header') %> 
</head>
<body>

  <div class="phase">
    <h1> IT L400 Portal-System </h1>
    <img src="./image/logo.png" alt="" width="200px" height="100px"/>
  </div>

  <!--this was where i begun with the login form-->
<div class="error"><%= error %> </div>
<h3 id="msg"><%= message %></h3>
  <div class="box">
  	<h2>LOG<span>IN</span></h2>
  	<form action="/" method="POST">
  		<div class="inputbox">
  			<input type="text" name="username" required="">
  			<label>Username</label>
  		</div>
  		<div class="inputbox">
  			<input type="password" name="password" required="">
  			<label>Password</label>
  		</div>
  		<input type="submit" name="" value="Login">
      <button><a href="<%= register %> ">Register Here</a></button>
     <!-- <input type="submit" name="" value="logout" border="left" >-->
  	</form> 

  </div>

</body>
</html>